on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonar:
    uses: eu-LISA/ecodex-workflows/.github/workflows/sonar-java.yaml@main
    with:
        jacoco-xml-report-path: 'target/site/jacoco/jacoco.xml'
        java-version: 21
        build-tool: 'maven'
    secrets: inherit